body{
    background-color: gray;
    color: cornsilk;
    text-align: center;

}
.search-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}
h4{
    display: block;
    text-align: center;    
}

.btn{
    height: 40px;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-bottom: 50px; 
}
.inline{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

img {
    height: 450px;
    
}

#movies img, #movie img {
    width: 100%;
}

.well {
    MARGIN:20PX
}

#movies .col s2 .well{
    height: 390px;
    margin: 30px;
}

#movies .col s2 img {
    height: 240px;
}
.history-btn {
    margin: 10px;
}