body{
    background-color: gray;
    color: cornsilk;
    text-align: center;

}
.search-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}
h4{
    display: block;
    text-align: center;
    
}
#actor-name{
    background-color: whitesmoke;
    width: 400px;
    margin-right: 20px;
    color: black;
    margin-bottom: 0;
}
.btn{
    height: 40px;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-bottom: 50px; 
}
.inline{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

img {
    height: 450px;
    
}